*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 35px 12%;
    background: #294a7e ;
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color:white;
    font-weight: 600;
    transition: 0.3s ease;

}

.logo.hover{
    color:orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
                 transform: scale(1.1);
}